<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" >
    <title>How to set up React, Webpack, and Babel</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/custom_trial.css">
    <link rel="stylesheet" href="../css/swapnil.css">
    <link rel="stylesheet" href="../css/sanket.css">
    <link rel="stylesheet" href="../css/order.css">
    <link rel="stylesheet" href="../css/sumeet.css?version=1">
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Roboto:400,500,700" rel="stylesheet">

    <script language="javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/utility.js"></script>
    <script language="javascript" src="../js/velocity.js"></script>
    <script language="javascript" src="/js/nav.js"></script>
    <script>
        var  URL_LISTING = {
            color:"",
            price:"",
            age:"",
            subcategory:"",
            multicolor:""
         }
        </script>
    <style>

        html, body{
            font-family: 'Roboto', sans-serif;

        }
        .head{ font-family:'Just Another Hand', cursive; !important;}
        .bg-img{
            background-image: url("{{config('constant.CDN_PATH')}}images/group-16.png");
            width: 330px;
            height: 326px;
        }
        @media screen and (max-width: 540px) {
            .bg-img{
                background-image: url("{{config('constant.CDN_PATH')}}images/mbl-img-div.png");
                width: 143px;
                height: 140px;
            }
        }

    </style>
</head>
<body>


<div class="tig-wrapper">

</div>

<div class="" id="insightguru">
    
</div>

</body>
</html>